.venv
13-FUNCOES/Atividade03_ContaBancaria/ArquivosSeparados/__pycache__
13-FUNCOES/Atividade03_ContaBancaria/AtividadeCorrigida_Separados/__pycache__
13-FUNCOES/Funcoes06_ArquivosDiferentes/__pycache__
13-FUNCOES/Funcoes07_Yield/__pycache__
*/build
*/dist
*/*.spec
*/.ipynb_checkpoints